.login-container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #ffe645 0%, #e2aa02 100%);
    position: relative;
    .logo {
        font-size: 50px;
        font-weight: bold;
        font-family:'Times New Roman', Times, serif;
        letter-spacing: 10px;
        position: absolute;
        top: 50px;
        right: 50px;
    }
    .desc {
        font-size: 24px;
        font-family:Arial, Helvetica, sans-serif;
        letter-spacing: 5px;
        position: absolute;
        top: 150px;
        right: 50px;
        text-align: right;
        width: 1198px;
    }
    .film {
        position: absolute;
        top: 50px;
        left: 50px;
        height: 93vh;
    }
}
.login-form {
    width: 500px;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    box-shadow: 5px 5px 20px #383838;
    .form-group {
        margin-top: 20px;
    }
    label {
        font-weight: bold;
    }
    .btn-container{
        position: relative;
        .btn {
            margin-top: 20px; ;
        }
        .error {
            position: absolute;
            top: 20px;
            right: 0px;
            color: red;
        }
    }
}