.home-container {
    display: flex;
    .all-movies {
        width: 75%;
        min-height: calc(100vh - 80px);
        border-right: 1px solid #fdc827;
        padding: 20px 40px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h4 {
        text-transform: uppercase;
        font-weight: bold;
        border-left: 5px solid #f90;
        padding-left: 10px;
    }
    .view-all {
        color: #f90;
        cursor: pointer;
    }
    .popular-movies {
        width: 25%;
        min-height: calc(100vh - 80px);
        padding: 20px 40px;
        font-family: Arial, Helvetica, sans-serif;
    }
}